<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Login</title>
</head>
<body>
    <form action="/cadastrar" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" placeholder="Enter com o nome" name="nome">
		<br><br>
        <label for="rg">RG:</label>
        <input type="text" id="rg" placeholder="Enter com o rg" name="rg">
		<br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter com o email" name="email">
        <br><br>
        <label for="celular">Celular:</label>
        <input type="celular" id="celular" placeholder="Enter com o celular" name="celular">
		<br><br>
        <label for="pwd">Password:</label>
        <input type="password" id="password" placeholder="Enter com a senha" name="senha">
    	<br><br>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</body>
</html>